<div ng-show="error" class="alert alert-danger">
    There was a problem logging in. Please try again.
</div>
<form ng-submit="controller.login()" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input ng-model="controller.credentials.username" type="text" id="username" name="username" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="controller.credentials.password" type="password" id="password" name="password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>